body {
    margin: 0;
    padding: 0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

span {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #262626;
    animation: animate 4s infinite ease-in-out;
}
span:nth-child(1) {
    background: #01579b;
    left: -54px;
    top: -54px;
    animation-delay: .2s;
}
span:nth-child(2) {
    background: #03a9f4;
    left: 0;
    top: -54px;
    animation-delay: .4s;
}
span:nth-child(3) {
    background: #03a9f4;
    left: -54px;
    top: 0;
    animation-delay: .8s;
}
span:nth-child(4) {
    background: #01579b;
    left: 0;
    top: 0;
    animation-delay: .6s;
}
@keyframes animate {
    0% {
        transform: rotateY(0deg);
    }
    20% {
        transform: rotateY(360deg);
    }
    40% {
        transform: rotateX(180deg);
    }
    60% {
        transform: rotateX(0deg);
    }
    80% {
        transform: rotateX(360deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}